ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.App_Header {
    padding: 3rem 10rem;
    display: flex;
    justify-content: space-between;
}

.Header_Left {
    font-size: 24px;
}

.Left_Sub {
    color: #8e8e8e;
    font-size: 16px;
    padding: 0.3rem 0;
}

.Header_Right {
}

/* ===== App_Content ====== */
.App_Content {
    text-align: center;
    max-width: 1280px;
    margin: 0 auto;
}

.Content_Title {
    font-size: 2rem;
    font-weight: 200;
    border-bottom: 1px solid #8e8e8e;
}
